@(authorID: Long)
@import models._
@import controllers.BBCodeParser._
@import controllers.BlogEngine._

@for(entry <- models.Blogentry.findAllByCreatorID(authorID).sort(_.creationTime.getTime > _.creationTime.getTime)) {
    <div class="span12" style="margin-bottom: 2%">
        <div class="span6">
            <a href="/blog/entry/@entry.id"><h3>@entry.title</h3></a> @formatDate(entry.creationTime) | by @entry.creatorST
        </div>

        <div class="well span6">
            @Html(entry.content.escape)
        </div>
        <div class="span12">
            @if(entry.commentsAllowed) {
                Comments (@Blogcomment.findAllByBlogEntry(entry.id).size)
            } else {
                No comments allowed.
            }
        </div>

    </div>
}